---
---

// See variables here https://github.com/pages-themes/cayman/blob/master/_sass/variables.scss
$header-bg-color: #fff;
$body-text-color: #000;
$section-headings-color: #ba3925;

$header-heading-color: #ba3925;

@import "{{ site.theme }}";

.page-header {
  color: $header-heading-color;
  text-align: center;
  background-image: none;
  margin: auto;
  max-width: 64rem;
  padding: 1rem;
  padding-bottom: 0rem;

  @include large {
    padding: 2rem 6rem 1rem;
  }
}

.project-tagline {
  color: $body-text-color;
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-weight: normal;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }
}


.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: $body-text-color;
  background-color: rgba(255, 255, 255, 0.08);
  border-color: $body-text-color;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: $body-text-color;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: $body-text-color;
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.main-content {

  h2, h3, h4, h5, h6  {
    text-indent: -1em;
  }

  h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor  {
    visibility: hidden;
  }

  h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor {
    visibility: visible;
  }
}
