name: CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:

  linkChecker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: lycheeverse/lychee-action@v2
        with:
          fail: true
          jobSummary: true
          args: --root-dir ${{ github.workspace }} --verbose --no-progress './**/*.md' --timeout 60 --retry-wait-time 20 --max-concurrency 5
